<?xml version="1.0"?>
<!--
This file shows how to import, instanciate and connect the sensor model to a given link
-->
<robot name="test_ft_sensor_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="prefix" value=""/>
  <xacro:property name="sim_gazebo" value="true"/>
  
  <!--Import macro for left arm gripper-->
  <xacro:include filename="$(find robotiq_ft_sensor)/urdf/robotiq_ft300.urdf.xacro" />
  
  <!--Base frame for reference-->
  <link name="world" />

  <xacro:robotiq_ft300 parent="world" prefix="" sim_gazebo="true">
		<origin xyz="0 0 0.3" rpy="1.5707 0 0"/> 
	</xacro:robotiq_ft300>

  <!-- FORCE REFERENCE FRAME _______________________________________________________________________________
      As specified in the documentation:
      - The Z axis passes through the center of the depression with positive direction in the tool direction.
      - The X axis traces a symmetric line centered on the connector; the positive direction
          points the opposite way away from the connector.
      - The Y axis uses the right hand thumb rule according to X-Z. -->
  <joint name="${prefix}ft300_sensor_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 ${pi} ${-pi/2}" />
    <parent link="${prefix}ft300_sensor" />
    <child link="${prefix}link1" />
    <limit velocity="6.5" effort="1000" lower="0" upper="0" />
  </joint>

  <link name="${prefix}link1">
    <collision>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.1"/>
      </geometry>
    </visual>

    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="1.2"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>
  </link>

    <xacro:if value="${sim_gazebo}">
        <gazebo reference="${prefix}ft300_sensor_joint">
          <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo>
            <plugin name="${prefix}ft300_sensor" filename="libgazebo_ros_ft_sensor.so">
                <update_rate>50.0</update_rate>
                <joint_name>${prefix}ft300_sensor_joint</joint_name>
            </plugin>
        </gazebo>
    </xacro:if>


</robot>